
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    box-sizing: border-box;
    overflow: hidden; /* Hide scrollbars */
}
.navbar{
    height: 5rem;
    width: 100%;
    background-color: #454135;
    display: flex;
    justify-content: space-between;
    align-items: center;

} 
.navbar .logo-heading{
    margin-left: 25px;
}
.navbar .logo-heading h1{
    font-size: 30px;
    font-weight: bolder;
    color: whitesmoke;
}
.navbar .search-area{
    margin-right: 35px;
    display: flex;
}
.navbar .search-area input{
    height: 30px;
    width: 16rem;
    font-size: 20px;
    padding: 3px;
    border-radius: 5px;
}
.navbar .search-area .btn{
    height: 36px;
   background-color: rgb(161, 39, 39);
    font-size: 20px;
    padding: 1px;
    margin-left:10px;
    border-radius: 5px;
    text-align: center;
    width: 70px;
    color: whitesmoke;
}

.navbar .search-area .btn:hover{
   cursor: pointer;
   background-color: red;
}


.show-area{
    height: 100vh;
    width: 100%;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
}
.show-area .instructions{
    color: white;
    margin-top: 20px;
}
.show-area .card-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   overflow-y: scroll;
   height: 93vh;
    width: 80%;
    display: flex;
   
    
  
}
.show-area .card-grid .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    margin: 20px 0;
       height: 29rem;
    width: 17rem;
    background-color: white;
}

.show-area .card-grid .card:hover{
    cursor: pointer;
}

.show-area .card-grid .card .card-desc{
    margin-top: 3px;
    text-align: center;
}

.show-area .card-grid .card .card-desc h3{
    font-size: 28px;
    font-weight: bold;

}

.show-area .card-grid .card .card-desc .text{
    font-weight: 600;
    margin-top: 4px;
    font-size: 22px;
}

.show-area .card-grid .card .view-more-btn{
    text-align: center;
    color: white;
    background-color: rgb(161, 39, 39);
    height: 36px;
    /* width: 105px; */
    font-size: 19px;
    border-radius: 6px;
    margin-top: 30px;
    padding: 6px 11px;


}

.show-area .card-grid .card .view-more-btn:hover {
    cursor: pointer;
    background-color: red;
}

.recipe-box{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    /* height: 50%; */
    width: 50%;
    background-color: #454135;
    color: white;
    z-index: 10;
    position: fixed;
    transform: translate(-50%,-50%);
    left: 50%;
    top:50%;
}
.recipe-box .ingredients-container{
    margin: 8px 37px;
}
.recipe-box .ingredients-container h3{
    margin-top: 5px;
}
.recipe-box .ingredients-container li{
    margin-top: 5px;
}
.recipe-box .recipe-box-btn{
    height: 29px;
    width: 31px;
    position: relative;
    left: 626px;
    top: 18px;
}

.recipe-box .recipe-box-btn:hover{
 cursor: pointer;
}
/* .recipe-box .ingredients-container .recipe-box-btn i{
    height: 20px;
    display: block;
    width: 20px;
} */
